image_captioning/data/Flickr8k/Flickr8k_Dataset/*
image_captioning/data/Flickr8k/train_data
image_captioning/data/COCO
image_captioning/trained_models
image_captioning/data/word_embeddings/glove.6B/*
image_captioning/data/pkl_data/*